@media screen and (max-width: 768px) {
    section {
        width: 100%;
    }

    /* THE FOLLOWING SOLUTIONS SEEM TO WORK AS WELL
    main {
        width: 100%;
    }

    body {
        width: 100%;
    } */


    .container{
        width: 100%;
    }
}