@media screen and (max-width: 768px) {
    section {
        width: 100%;
    }

    /* THE FOLLOWING SOLUTIONS SEEM TO WORK AS WELL
    main {
        width: 100%;
    }

    body {
        width: 100%;
    } */


    .container{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    
    .row{
        display: inline-block;
    }

    .lessons .col, .why-us .col-left, .why-us .col-right, .steps .col {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .steps{
        margin-bottom: 0rem;
    }

    .why-us {
        margin-bottom: 0rem;
        padding: 3rem 0;
        background-color: #222222;
    }
}